	<div class="image">
	<img src="http://cdn-image.travelandleisure.com/sites/default/files/1501270853/waterfall-RIOCELESTE0717.jpg">
</div> 
<div class="container">

	<div id="navbar">
			<nav class="navbar-static-top navbar" id="index">
			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a  href="/auth/home">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/new">Register</a>
				</li>
				<li class="list-inline-item">
					<a  href="/auth/login">Login</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="text">
		<h1>Everyone has a story.<br/> Tell yours!</h1>
		<p>To begin your journey, register.</p>
	</div>
		
</div>