	<div class="image">
	<img src="https://cdn.brilio.net/news/2016/11/07/105260/11-amazing-waterfalls-around-the-world-for-your-next-adventure-161107z.jpg">
</div> 
<div class="container">
	<h1>Everyone has a story tell yours!</h1>

			<nav class="navbar-static-top navbar" id="index">
			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a  href="/auth/home">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/new">Register</a>
				</li>
				<li class="list-inline-item">
					<a  href="/auth/login">Login</a>
				</li>
			</ul>
		</nav>
<p>To begin you journey click create your canvas to register</p>
</div>