
	<div class="image">
	<img src="http://cdn.hiconsumption.com/wp-content/uploads/2014/06/Big-Waterfall-Croatia.jpg">
</div> 
    <div class="container">
    	<div id="navbar">
		<nav class="navbar" id="index">
			<ul class="list-inline-item">
				<li class="list-inline-item"><a href="/auth/home">Home</a></li>
				<li class="list-inline-item"><a href="/users/">Community Canvas</a></li>
			</ul>
		</nav>
</div>
	<!-- <a href="users/login">Login</a> -->
	<div class="login">
	<form action="/auth/login" method="POST" id="login">
		<h1>Login</h1>
		
		<div class="row">
			<div class="field">
		<input type="username" class="form-control" name="username" placeholder="username">
		<input type="email" class="form-control" name="email" placeholder="email">
		<input type="password" class="form-control" name="password" placeholder="password">
		<button type="submit" class="btn btn-primary mb-2">Login</button>
	</div></div>
	</form>
</div>
</div>

