<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

<img src="https://uspstrackingtool.com/wp-content/uploads/2018/03/nature-backgrounds-222.jpg" class="img-fluid" alt="Responsive image">
	<%- body %>

</body>
</html>

<!-- 
<div class= title>
	<h1>title</h1>
</div>

.title{
	background:url()
} -->
