body {
   font-family: 'Open Sans', sans-serif;   
   max-width: 100vw;
}

.image {
   overflow: auto;
}

.image > img  {
	position: relative;
	/*background-size: cover; 
   min-height: 100%;
   max-width: 100vw;*/
   height: 100vh;
   width: 100%;
}

.container {
   padding-top: 20px;
	position: absolute; 
   top: 0px; 
   left: 0px;
   right:0px; 
   margin: 0px;
   width: auto;
   max-width: 100vw;
   height: 100vh; 
   background: rgba(0, 0, 0, 0.5);
}

h1 , label{
   color: white;
}

h1 {
   font-family: 'Parisienne', cursive;
   font-size: 80px;
}

h2 {
   font-family: 'Parisienne', cursive;
   color: white;
   text-align: center;
}

.list-group-item {
	/*background-color: rgba(255, 255, 255, 0.3);*/ 
	 background: rgba(0, 0, 0, 0.4);
	 font-family: 'Parisienne', cursive;
   font-size: 30px;
}

.list-group-item a {
	color: white;
}
.login {
	margin-top: 300px;
}
#index {
	background: rgba(0, 0, 0, 0.6);
	justify-content: space-between;

}
.btn-primary {
	background-color: #9E9E9E;
	border-color: #0a0a0a; 
}


