<div class="image">
	<img src=http://hdhintergrundbilder.net/image/landschaft/2485/wasserfaelle-wasser-fluss-klippe-berg-hoch.jpg>
</div> 
	<div class="container">
		<h1 class="text-center">Edit MyCanvas</h1>
		<div class="navbar navbar-default navbar-static-top">
		<nav class="navbar" id="index">
		<!-- 	<ul class="nav nav-tabs"> -->
			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a href="/auth/home">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/index">Community Canvas</a>
				</li>
			</ul>
		</nav>
	</div>
	<!-- <div class="edit"> -->
  <!-- <img class="card-img" src="..." alt="Card image"> -->
  
	<main>
		<form action="/users/<%= user.id%>?_method=PUT" method="POST">
			<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="name" value="<%= user.username%>"></div>
			<div class="form-group">
			<input class="form-control" type="text" name="email" placeholder="email" value="<%= user.email%>"></div>
			<div class="form-group">
			<input class="form-control" type="text" name="password" placeholder="password" value="<%=user.password%>"></div>
			<div class="form-group">
			<button type="submit" name="Edit">Update My Info</button></div>
		</form>
	</main>
<!-- </div> -->

</div>
