<div class="image">
<img src="https://uspstrackingtool.com/wp-content/uploads/2018/03/nature-backgrounds-222.jpg">
</div>

<div class="container">
<!-- <div class="text-white"> -->
	<!-- 	<div class="text-center">  -->
	

		<nav class="navbar-static-top navbar" id="index">

  <!-- Navbar content -->

			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a  href="/">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/new">Create your Canvas</a>
				</li>
				<li class="list-inline-item">
					<a  href="auth/login">Login</a>
				</li>
			</ul>
		</nav>
		<h1 class="text-center">Community Canvas</h1>
	
	<!-- </div> -->
	<main>
		<div class="card-holder">
			
  
			
			<% for (let i = 0; i < users.length; i++) { -%>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><a href="/users/<%=users[i].id%>"><%=users[i].username%></a></h5>
					</div>
				</div>
			<% } -%>

		</ul>
	<!-- </div> -->
	</main>
	</div>