<div class="p-3 mb-2 bg-secondary text-black">
		<div class="text-center"> 
	<header>
		<h1 class="text-center display-3">Community Canvas</h1>
		<nav>
			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-primary btn-lg" href="/users/new" role="button">Create your Canvas</a>
				</li>
			</ul>
		</nav>
	</header>
	</div>
	<main>
		<div class="text-center">
		<ul class="list-group">
			
			<% for (let i = 0; i < users.length; i++) { -%>
			<li class="list-group-item list-group-item-light"><a href="/users/<%=users[i].id%>"><%=users[i].username%></a>
				
		</li>
			
			
					<% } -%>

		</ul>
	</div>
	</main>