<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Community Canvas</h1>
		<nav>
			<ul>
				<li>
					<a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
				</li>
				<li>
					<a class="btn btn-primary btn-lg" href="/users/new" role="button">Create your Canvas</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<ul>
			
			<% for (let i = 0; i < users.length; i++) { -%>
			<a href="/users/<%=users[i].id%>"><%=users[i].username%></a>
				
			
			
			<li>
				<form action="/users/<%=users[i].id%>?_method=DELETE" method="POST">
					<a href="/users/<%= users[i].id%>/edit">Edit MyCanvas</a>
						<button>Delete</button>

				</form></li>
				<% } -%>
		</ul>
	</main>
</body>
</html>