<div class="image">
<img src="https://uspstrackingtool.com/wp-content/uploads/2018/03/nature-backgrounds-222.jpg">
</div>

<div class="container">
<!-- <div class="text-white"> -->
	<!-- 	<div class="text-center">  -->
	
		<h1 class="text-center">Community Canvas</h1>
		<nav class="navbar" id="index">
  <!-- Navbar content -->

			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a  href="/">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/new">Create your Canvas</a>
				</li>
				<li class="list-inline-item">
					<a  href="auth/login">Login</a>
				</li>
			</ul>
		</nav>
	
	<!-- </div> -->
	<main>
		<div class="
		list">
		<ul class="list-group">
  
			
			<% for (let i = 0; i < users.length; i++) { -%>
			<li class="list-group-item"><a href="/users/<%=users[i].id%>"><%=users[i].username%></a>
				
		</li>
			
			
					<% } -%>

		</ul>
	<!-- </div> -->
	</main>
	</div>