<div class="image">
<img src="https://uspstrackingtool.com/wp-content/uploads/2018/03/nature-backgrounds-222.jpg">
</div>

<div class="container">

	<div id="navbar">
		<nav class="navbar-static-top navbar" id="index">

			


			<ul class="list-inline-item">
				<li class="list-inline-item">
					<a  href="/auth/home">Home</a>
				</li>
				<li class="list-inline-item">
					<a href="/users/new">Register</a>
				</li>
				<li class="list-inline-item">
					<a  href="/auth/login">Login</a>
				</li>
			</ul>
		</nav>
	</div>
		<h1 class="text-center">Community Canvas</h1>
	

	<main>
		<div class="card-holder">
			
  
			
			<% for (let i = 0; i < users.length; i++) { -%>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><a href="/users/<%=users[i].id%>"><%=users[i].username%></a></h5>
					</div>
				</div>
			<% } -%>

		</ul>
	<!-- </div> -->
	</main>
	</div>