<div class="image">
<img src="/images/waterfall2-2.jpg">
</div>

<div class="container">

	<!-- this is the register new user page -->	
			<div class="sticky-top">
		<nav class="sticky-top">
			<ul class="list-inline-item">
				<li class="list-inline-item"><a href="/auth/home">Home</a></li>
				<li class="list-inline-item"><a href="/users/">Community Canvas</a></li>
				<li class="list-inline-item">
					<a  href="/auth/login">Login</a>
				</li>
				<li class="list-inline-item">
					<a  href="/auth/logout">Logout</a>
				</li>
			</ul>
		</nav>
</div>
<h1>Welcome to MyCanvas!</h1>
	<main>
		<div class="row">
		<div class="field">
			<div class="login">
			
		<form action="/auth/new" method="POST">
			

			<input class="form-control" type="text" name="username" placeholder="username">
			<input class="form-control" type="text" name="email" placeholder="email">
			<input class="form-control" type="password" name="password" placeholder="password">
			<button type="submit" name="submit" class="btn btn-primary btn-sm">Register</button>
		</form></div></div></div>
	</main>

</div>