<div class="image">
<img src="/images/waterfall2-2.jpg">
</div>

<div class="container">

	<!-- this is the register new user page -->


		
		<div id="navbar">
		<nav class="navbar" id="index">
			<ul class="list-inline-item">
				<li class="list-inline-item"><a href="/auth/home">Home</a></li>
				<li class="list-inline-item"><a href="/users/">Community Canvas</a></li>
			</ul>
		</nav>
</div>
<h1>Welcome to MyCanvas!</h1>
	<main>
		<form action="/auth/new" method="POST">
			<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="username"></div>
			<div class="form-group">
			<input class="form-control" type="text" name="email" placeholder="email"></div> 
			<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="password"></div>
			<div class="form-group">
			<button type="submit" name="submit" class="btn btn-primary btn-sm">Create User</button></div>
		</form>
	</main>

</div>