<div class="image">
<img src="/images/waterfall2-2.jpg">
</div>

<div class="container">


		<h1>Welcome to MyCanvas!</h1>
		<nav class="navbar" id="index">
			<ul class="list-inline-item">
				<li class="list-inline-item"><a href="/">Home</a></li>
				<li class="list-inline-item"><a href="/users">Users Index</a></li>
			</ul>
		</nav>
	
	<main>
		<form action="/users" method="POST">
			<div class="form-group">
			<input class="form-control" type="text" name="username"></div>
			<div class="form-group">
			<input class="form-control" type="text" name="email" placeholder="email"></div> 
			<div class="form-group">
			<input class="form-control" type="text" name="password" placeholder="password"></div>
			<div class="form-group">
			<button type="submit" name="submit" class="btn btn-primary btn-sm">Create User</button></div>
		</form>
	</main>

</div>