<!DOCTYPE html>
<html>
<head>
	<title>Users Show Page</title>
</head>
<body>
	<header>
	<h1><%= user.name%> Canvas</h1>
	<nav>
		<ul>
			<li>
				<a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
			</li>
			<li>
				<a class="btn btn-primary btn-lg" href="/users/new" role="button">Users Index</a>
			</li>
		</ul>
	</nav>
</header>
<main>
	<ul>
		<% if(user.photos %>
	</ul>
</main>
</body>
</html>